<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img class="mr-1" src="assets\images\Smart_Era_X_Idra.png"></a>
  </div>

</div>


<div class="right-container">
  <div class="language-select-container">
    <nb-select
    class="custom-select"
    (selectedChange)="changeLang($event)"
    [selected]="idraUserLanguage"
    status="primary"
    shape="semi-round"
    filled
    >
      @for (lang of languages; track lang.lan) {<nb-option
        [value]="lang.lan"
        class="d-flex flex-row align-items-center white-background"
      >
        <nb-user
          size="small"
          [name]="lang.lan | uppercase"
          [picture]="lang.picture"
          showTitle="false"
        >
        </nb-user>
      </nb-option>}
    </nb-select>
  </div>
  <div>
    <!-- theme selection -->
    <nb-select
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
    status="primary"
    shape="semi-round"
    filled
    style="margin-right: 3%;"
  >
    @for (theme of themes; track theme.value) {<nb-option [value]="theme.value">
      {{ theme.name }}</nb-option>}
  </nb-select>
  </div>
</div>


@if (typeLogin.toLowerCase() === 'keycloak') {<div class="header-container" >

  @if (authenticationEnabled) {<nb-actions size="small">
    <nb-action
      class="user-action">
      @if (user) {<div>
        <nb-user
          [nbContextMenu]="userMenu"
          nbContextMenuTag="user-menu"
          [onlyPicture]="userPictureOnly"
          [name]="(user?.name!==undefined)?user?.name:user?.preferred_username"
          [title]="user?.email"
          [picture]="'assets/images/default_user.png'">
        </nb-user>
    </div>}
    </nb-action>
  </nb-actions>}
        <!-- Not Authenticated -->
    @if (authenticationEnabled && (user=== undefined || user === null)) {<nb-actions size="small">
      <nb-action class="user-action" >
        <nb-user [nbContextMenu]="userMenuDefault" nbContextMenuTag="user-menu" [onlyPicture]="userPictureOnly"

          [picture]="'assets/images/default_user.png'">
        </nb-user>
      </nb-action>
    </nb-actions>}

</div>}

