<section class="jumbotron text-center">
    <div class="container mb-4">
        <h2 class="jumbotron-heading">{{ 'HOME_SEARCH_TITLE' | translate }} {{totalDatasets}} {{ 'HOME_DATASETS_FROM' | translate }} {{cataloguesInfos.length}} {{ 'HOME_CATALOGUES' | translate }}!</h2>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <nb-tag-list (tagRemove)="onTagRemove($event)">
            @for (filter of tagsFilter; track $index) {<nb-tag appearance="outline" status="primary" [text]="filter" removable></nb-tag>}
            <input [disabled]="advancedSearch" type="text" nbTagInput placeholder="{{ 'HOME_INSERT_KEYWORDS' | translate }}" (tagAdd)="onTagAdd($event)" (keydown)="lastKeyPressed = $event.key" separatorKeys="[188,13]" fullWidth>
          </nb-tag-list>
          <nb-icon nbTooltip="{{ 'SEARCH' | translate }}" icon="search-outline" [options]="{ animation: { type: 'zoom' } }" (click)="advancedSearchReq()" class="ml-2"></nb-icon>
          <nb-icon nbTooltip="{{ 'HOME_ADVANCED_SEARCH' | translate }}" [icon]="searchToggleIcon" [options]="{ animation: { type: 'zoom' } }" (click)="toggleAdvancedSearch()" class="ml-2"></nb-icon>
        </div>
      </div>
      @if (advancedSearch) {<nb-card class="d-flex mb-2">
        <nb-card-body  class="d-flex flex-column gap-1">
          @for (item of Filters; track $index) {<div class="row mb-1">
            <div class="col-lg-2 col-md-3 col-12 d-flex align-items-center">
              <span class="minwidth-fit-content" >{{ 'HOME_FILTER' | translate }} {{$index+1}}</span>
              <nb-select [(selected)]="item.type" placeholder="{{ 'HOME_SELECT_FILTER' | translate }}" [disabled]="$index == 0 || $index != Filters.length -1" class="ml-2">
                @if ($index == 0) {<nb-option value="ALL">{{ 'HOME_ALL' | translate }}</nb-option>}
                @for (val of selectableOptions; track $index) {<nb-option [value]="val">{{ val }}</nb-option>}
              </nb-select>
            </div>
            <div class="col-lg-10 col-md-9 col-12  d-flex align-items-center">
              <nb-tag-list (tagRemove)="onTagRemoveOnFilter($event,i)">
                @for (filter of item.tags; track $index) {<nb-tag appearance="outline" status="primary" [text]="filter" removable></nb-tag>}
                <input type="text" nbTagInput placeholder="{{ 'HOME_INSERT_KEYWORDS' | translate }}" (tagAdd)="onTagAddOnFilter($event, i)" (keydown)="lastKeyPressed = $event.key" separatorKeys="[188,13]" fullWidth>
              </nb-tag-list>
              @if ($index == Filters.length -1 && $index != 3) {<button nbButton status="primary" shape="round" (click)="addFilter($index)" class="filter-button"><nb-icon nbTooltip="{{ 'HOME_ADD_FILTER' | translate }}" icon="plus-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>}
              @if ($index != 0) {<button nbButton status="primary" shape="round" (click)="removeFilter($index)" class="filter-button"><nb-icon nbTooltip="{{ 'HOME_REMOVE_FILTER' | translate }}" icon="minus-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>}
            </div>
          </div>}
          <div class="row mb-1">
            <div class="col-2 d-flex align-items-center">
              <span class="minwidth-fit-content" >{{ 'HOME_RELEASED_DATE' | translate }}</span>
            </div>
            <div class="col-10 d-flex align-items-center">
              <input class="width-12" nbInput fieldSize="small" [nbDatepicker]="releasedDate">
              <nb-rangepicker #releasedDate (rangeChange)="updateDate($event,0)"></nb-rangepicker>
              <nb-icon icon="calendar-outline" class="ml-2"></nb-icon>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2 d-flex align-items-center">
              <span class="minwidth-fit-content" >{{ 'HOME_UPDATED_DATE' | translate }}</span>
            </div>
            <div class="col-10 d-flex align-items-center">
              <input class="width-12" nbInput fieldSize="small" [nbDatepicker]="updatedDate">
              <nb-rangepicker #updatedDate (rangeChange)="updateDate($event,1)"></nb-rangepicker>
              <nb-icon icon="calendar-outline" class="ml-2"></nb-icon>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2 d-flex align-items-center">
              <span class="minwidth-fit-content" >{{ 'HOME_CATALOGUES' | translate }}</span>
            </div>
            <div class="col-10 d-flex align-items-center">
              <nb-select class="max-width-webkitfill min-width-100"  multiple [(selected)]="selectedCatalogues" (selectedChange)="handleCataloguesChange($event)" placeholder="{{ 'HOME_SELECT_CATALOGUE' | translate }}">
                <nb-option [value]="0">{{ 'HOME_ALL_SELECTED' | translate }}</nb-option>
                @for (catalogue of cataloguesInfos; track catalogue.id) {<nb-option [value]="catalogue.id">{{ catalogue.name }}</nb-option>}
              </nb-select>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2 d-flex align-items-center">
              <nb-checkbox (checkedChange)="toggleHasHVDCategory($event)">{{ 'HOME_IS_HVD' | translate }}</nb-checkbox>
            </div>
            <div class="col-2 d-flex align-items-center">
              <nb-checkbox (checkedChange)="toggleMultiLanguage($event)">{{ 'HOME_MULTI_LANGUAGE' | translate }}</nb-checkbox>
            </div>
            @if (multiLanguageChecked) {<div class="col-2 d-flex align-items-center">
              <nb-select [(selected)]="sourceLanguage" placeholder="{{ 'HOME_SOURCE' | translate }}" class="width-150">
                @for (lang of languages; track lang.value) {<nb-option [value]="lang.value">{{ lang.text }}</nb-option>}
              </nb-select>
            </div>}
            @if (multiLanguageChecked) {<div class="col-8 d-flex align-items-center">
              <nb-select multiple [(selected)]="targetsLanguage" placeholder="{{ 'HOME_TARGETS' | translate }}" class="width-auto">
                @for (lang of languages; track lang.value) {<nb-option [value]="lang.value">{{ lang.text }}</nb-option>}
              </nb-select>
            </div>}
          </div>
          <div class="row mb-1">
            <div class="col-md-3 col-12 d-flex align-items-center">
              <span class="minwidth-fit-content mr-1" >{{ 'HOME_SORT_BY' | translate }}</span>
              <nb-select [(selected)]="sortyBy" placeholder="{{ 'HOME_SORT_BY' | translate }}" class="width-150">
                <nb-option [value]="0">{{ 'HOME_RELEASE_DATE' | translate }}</nb-option>
                <nb-option [value]="1">{{ 'HOME_UPDATE_DATE' | translate }}</nb-option>
                <nb-option [value]="2">{{ 'HOME_CATALOGUES' | translate }}</nb-option>
                <nb-option [value]="3">{{ 'PUBLISHER_NAME' | translate }}</nb-option>
                <nb-option [value]="4">{{ 'HOME_TITLE' | translate }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-3 col-12 d-flex align-items-center">
              <span class="minwidth-fit-content mr-1" >{{ 'HOME_ORDER' | translate }}</span>
              <nb-select [(selected)]="order" placeholder="{{ 'HOME_ORDER' | translate }}" class="width-150">
                <nb-option [value]="0">{{ 'HOME_ASCENDENT' | translate }}</nb-option>
                <nb-option [value]="1">{{ 'HOME_DESCENDENT' | translate }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center">
              <span class="minwidth-fit-content mr-1" >{{ 'HOME_MAX_RESULTS_PER_PAGE' | translate }}</span>
              <nb-select [(selected)]="maxResultPerPage" placeholder="25" class="width-150">
                <nb-option [value]="5">5</nb-option>
                <nb-option [value]="10">10</nb-option>
                <nb-option [value]="25">25</nb-option>
                <nb-option [value]="50">50</nb-option>
              </nb-select>
            </div>
            <div class="col-md-2 col-12 d-flex align-items-center">
              <button 
                nbButton
                fullWidth
                status="primary"
                size="small"
                [class.btn-pulse]="submitted"
                (click)="advancedSearchReq()">
                {{ 'SEARCH' | translate }}
            </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>}
      <nb-tabset fullWidth>
        <nb-tab tabTitle="{{ 'HOME_TAGS' | translate }}">
          <div class="display-flex">
            <div class="cloud-container">
              <ul id="tags" class="cloud" role="navigation" aria-label="Webdev tag cloud">
                @for (tag of tags; track $index) {<li>
                  <div [ngClass]="getClass($index)" (click)="searchTag($index)">{{ tag.name }}</div>
                </li>}
              </ul>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="{{ 'HOME_CATEGORIES' | translate }}">
          <div class="display-flex">
            <div class="justify-center">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <nb-list>
                      @for (category of dcatThemes | slice:0:4; track $index) {<nb-list-item>
                      <button nbButton ghost status="primary" (click)="searchCategory(category)">
                        <img [src]="'assets/dcat_themes_icon/' + category.icon + '.svg'" class="category-img"> {{ category.text }}
                      </button>
                      </nb-list-item>}
                  </nb-list>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <nb-list>
                      @for (category of dcatThemes | slice:4:8; track $index) {<nb-list-item>
                      <button nbButton ghost status="primary" (click)="searchCategory(category)">
                        <img [src]="'assets/dcat_themes_icon/' + category.icon + '.svg'" class="category-img"> {{ category.text }}
                      </button>
                      </nb-list-item>}
                  </nb-list>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <nb-list>
                      @for (category of dcatThemes | slice:8:13; track $index) {<nb-list-item>
                      <button nbButton ghost status="primary" (click)="searchCategory(category)">
                        <img [src]="'assets/dcat_themes_icon/' + category.icon + '.svg'" class="category-img"> {{ category.text }}
                      </button>
                      </nb-list-item>}
                  </nb-list>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
</section>
